.discover_container {
    color: #014465;
    font-size: 2rem;
    font-weight: 600;
}

.main {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: #014465;
    // background-color: linear-gradient(180deg, #014465 0%, #1e5661 25%, #80cbc4 100%);
    // background-image: url("../public/stars2.png");
    // background-size: cover;
    // background-size: 1500px;
    // background-repeat: repeat-x repeat-y;
}

.main_header {
    padding: 20px;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    background-color: #014465;
}

.main_content {
    flex: 1;
    // padding: 20px 40px;
}

.background_stars_overlay {
    height: 100%;
    width: 100%;
    background-image: url("../public/stars2.png");
    background-size: 1000px;
    background-repeat: repeat-x repeat-y;
}

.header_container {
    // background-color: salmon;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // z-index: 10;
}

.header_pages {
    display: flex;
    font-family: 'Karla';
}

.header_page {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover{
        opacity: 0.7;
        transform: scale(0.97);
    }

}

.header_title {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Raleway';
}

.home_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home_outer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home_inner {
    // height: 100%;
    width: 100%;
    max-width: 2848px;
    padding: 40px;

}

.home_title {
    font-size: 5rem;
    font-style: italic;
    font-weight: 700;
    font-family: 'Raleway';
    padding-bottom: 20px;
}

.test {
    display: flex;
}

.test_image {
    background-image: url("../public/test.png");
    height: 400px;
    width: 400px;
    background-size: cover;
    margin: -40px 0 0 -220px;
    transform: rotate(10deg);
}

.parallax_home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_discover {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_bg{
        background-color: #f5f5f5;
    }
}